index.php
languages
upgrade
uploads
themes/index.php
themes/twentyfifteen
themes/twentyseventeen
themes/twentysixteen
plugins/hello.php
plugins/index.php
plugins/akismet
plugins/amr-shortcode-any-widget
plugins/contact-form-7
plugins/mailchimp-for-wp
plugins/simple-custom-css
plugins/the-events-calendar
css
js
node_modules
themes/.DS_Store
plugins/.DS_Store
.DS_Store
